
/*FORSIDE START*/
/*General styling*/

$txt-color: black;
$txt-color-light: #fff;
$font-size:20px bold;



/*Main*/
body {
  margin: 0;
  padding: 0;
  font-family: OmnesCyrillic, sans-serif;
  }
  
h1{
  font-size: 32px;
}

h2{
  margin-top: 10vh;
  margin-bottom: 30px;
  font-size: 2rem;
}

h3{
  font-size: 26px;
  font-weight: 600;
}

.landing-page{
  background-image:
  url("../billeder/front-page.png");
  background-size: cover;
  max-width: 100%; 
  height: auto;
}

li{
  list-style: none;
  font-weight: 600;
}

a{
  text-decoration: none;
  color: black;
  font-size: 20px;

    &:hover{
      color:white;
    }
}


/*Header*/

header{
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo img {
    height: auto;
    width: 100px;
    margin-top: 10px;
  }
  
  .links{
    display: flex;
    gap: 2rem;
    margin-top: 30px;
  }
  
  .toggle_btn{
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: none;
    margin-top: 15px;
  }
    
}



.action-btn{
  background-color: black;
  text-align: center;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  width: 100px;
  margin-top: 20px;

  &:hover{
    scale: 1.05;
    color: black;
    background-color: white;
  }
}



/*Dropdown menu*/

.dropdown_menu {
  display: none;
  position: absolute;
  top: 60px;
  height: 0;
  right: 2rem;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    
    li{
      padding: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .action-btn{
      width: 150px;
      display: flex;
      justify-content: center;
      margin:0;
    }
}

.dropdown_menu.open{
  height: 300px;
}

/*Section1*/

.section-1{
  display: flex;
  flex-direction: column;
 align-items: center;
  margin-top: 80px;
  
  img{
    width: 50%;
    height: auto;
  }

   :nth-child(1){
    display: flex;
    width: 15%;
    height: auto;
    margin-left: 70vw;
   }
  
   :nth-child(4){
    width: 20%;
    height: auto;
    margin-right: 70vw;

  }
}

.section-2{

    h2{
      text-align: center;
    }  
    
}

.infografik{
  background-image: url("../billeder/Infografik.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 170vh;
  height: 180vh;
  width: auto;
  min-width: 90vw;
  margin-bottom: 0;
}

.tekst{

  :nth-child(1){
    padding-left: 12vw;
    padding-top: 45vh;
    max-width: 27vw;
  }
  :nth-child(2){
    padding-left: 65vw;
    padding-top: 30vh;
    max-width: 27vw;
  }
  :nth-child(3){
    padding-left: 10vw;
    padding-top: 19vh;
    max-width: 37vw;
}
}

/*Section3*/

.wave-2{
  background-image: url("../billeder/wave-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 160vh;
  width: auto;
}

.container-cases{
  display: flex;
  flex-direction: column;
  
  h2{
    margin-left: 25vw;
    margin-top: 7vh;
  }
}
.cases{
  display: flex;
  justify-content: center;
  flex-direction: row;

  img{
    width: 15%;
    height: auto;
    margin: 2rem;
  }
}
.animation-video{
  display: flex;
  justify-content: center;
  
  
    video{
      margin-top: 5vh;
      margin-bottom: 10vh;
      width: 80%;
      height: 20%;
    }
}

/*FOOTER*/

footer{display: flex;
  justify-content: center;
padding: 40px;
gap: 40px;
margin-bottom: 30px;
img{
  margin-top: 100px;
  width: auto;
  height: 100px;
}

}

.links{
  text-decoration: none;
  list-style: none;
  width: 300px;
}
.afooter{
  color: #000000;
  text-decoration: none;
}

/*Responsive navbar*/
@media (max-width: 992px){
  .navbar .links,
  .navbar .action-btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
}
/*main*/
  h3{
    font-size: 16px;
  }
/*Section3*/

.wave-2{
  max-height: 120vh;
}
.cases{
  
  img{
    width: 20%;
    height: auto;
    margin: 1rem;
  }
}

.container-cases h2{
  margin-left: 14vw;
}

@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }

  .wave-2{
    max-height: 45vh;
  }
}
/*FORSIDE-END*/

/*OM OS*/
#omostred {
  width: 100%;
  height: auto;
  margin-top: -125px;
  margin-bottom: -100px;
}

#portrætter {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#portrætter img {
  max-width: 80%;
  margin-top: -20px; 
  padding: 20px;
}

#omosbody {
padding: 50px;
text-align: center;
}

#omosbody p {
margin-top: -20px;
}


#tredblomst {
 max-width: 150px;
 float: right;
 margin: -20px;
 padding: 20px;
}

#tredtext {
  max-width: 350px;
  margin: 10px;
  padding-top: 20px;
}

#partners {
 max-width: 100%;
 margin: -20px;
}

/*OM OS*/

