*{
margin: 0;
body: 0;
}

#omostred {
    width: 100%;
    height: auto;
    margin-top: -125px;
    margin-bottom: -100px;
  }
  
  #portrætter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  #portrætter img {
    max-width: 80%;
    margin-top: -20px; 
    padding: 20px;
  }
  
  #omosbody {
  padding: 50px;
  text-align: center;
  }
  
  #omosbody p {
  margin-top: -20px;
  }
  
  
  #tredblomst {
   max-width: 150px;
   float: right;
   margin: -20px;
   padding: 20px;
  }
  
  #tredtext {
    max-width: 350px;
    margin: 10px;
    padding-top: 20px;
  }
  
  #partners {
   max-width: 100%;
   margin: -20px;
  }
  