*{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}
@media only screen and (max-width: 680px) {
    .heroservice{display: flex;
        flex-direction: column;
        background-color: #ffffff;
        background-image: url(mymediafotos/Group\ 16.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 150px;
        padding-bottom: 100px;
        height: 100px;

    }
    .mediedesign{ margin: 30px;

    }
 
    .setup{
        display: flex;
    flex-direction: column;
    }
    .tekst{ margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 60px }
    .grafik1{align-items: center;
        display: flex;
        flex-direction: column;
    padding-top: 10px;
padding-bottom: 20px;}
    
    .grafik2{max-width: 250px;
        max-height: 150px;
        
    }
    .service{
        display: flex;
        
        
        
        }

        .kontakt{ padding: 40px;}
    form{ background-color: #ECC4E0;}
    label{background-color: #ECC4E0;}
    .bkao{background-color: #ECC4E0;}
      
input[type=text], select, textarea {
    width: 100%; 
    padding: 15px; 
    border: 1px solid #ECC4E0; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  input[type=submit]:hover {
    background-color: #56B487;
  }
  

  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
  .pic{ display: flex;
width: 100%;
max-height: 100px;
margin-top: 20px;}
   .pic1{display: flex;
    padding: 20px;
    padding-right: 50px;
    width: 300px;
   }
  .footer{ display: flex;
    flex-direction: column;
align-items: center;
    padding: 40px;
  }
  .links{padding-top: 30px;
    text-decoration: none;
    list-style: none;
    width: 300px;
    
}
a{text-decoration: none;
color: black;

}
}

@media only screen and (min-width:680px) and (max-width: 1100px) { 
    .heroservice{display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url(mymediafotos/Group\ 16.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    width: 100%;
    min-height: 400px;

}
.mediedesign{ margin: 30px;

}
.setup{
    display: flex;
    max-width: 800px;
   
   
}
.tekst{ padding: 40px;
    align-items: center;
 }
.grafik1{align-items: center;
    display: flex;
    flex-direction: column;
padding: 40px;}

.grafik2{width: 250px;
    height: 200px;
    
}
.service{
    display: flex;
    justify-content: center;
    
}

    

.kontakt{ display: flex;
        flex-direction: column;
        padding: 40px;
        max-width: 600px;
        
    }
input{display: flex;
    justify-content: center;
  align-items: center;
}
    input[type=text], select, textarea {
width: 500px; 
padding: 15px;  
border: 1px solid #ECC4E0;
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 6px;
margin-bottom: 16px; 
resize: vertical ;


}


input[type=submit] {
background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}


input[type=submit]:hover {
background-color: #56B487;
}
form{ background-color: #ECC4E0;}
label{background-color: #ECC4E0;}
.bkao{background-color: #ECC4E0;}

.container {
border-radius: 5px;
background-color: #ECC4E0;
padding: 20px;
}
.pic{ display: flex;
    width: 100%;
    max-height: 150px;
margin-bottom: 30px;
margin-top: 30px;}
       .pic1{
        padding: 20px;
        padding-right: 50px;
    width: 150px;
    height: 50px;
       }
.footer{display: flex;
    justify-content: center;
padding: 40px;
gap: 40px;
}
.links{
    text-decoration: none;
    list-style: none;
}
    
}

@media only screen and (min-width: 1100px) { 
     .heroservice{display: flex;
    flex-direction: column;
    background-color: #fdfdfd;
    background-image: url(mymediafotos/Group\ 16.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    width: 100%;
    min-height: 600px;

}
.mediedesign{ margin: 30px;

}
.setup{
    display: flex;
    max-width: 1000px;
   
   
}
.tekst{ padding: 40px;
    align-items: center;
 }
.grafik1{align-items: center;
    display: flex;
    flex-direction: column;
padding-right: 40px;}

.grafik2{width: 400px;
    height: 300px;
    padding-bottom: 60px;
    
}
.service{
    display: flex;
    justify-content: center;
    
}

    
.pic{ padding-top: 60px;
    display: flex;
    width: 100%;}
.kontakt{ display: flex;
        flex-direction: column;
        padding: 40px;
        max-width: 700px;}

    input[type=text], select, textarea {
width: 600px; 
padding: 15px;  
border: 1px solid #ECC4E0;
border-radius: 4px; 
box-sizing: border-box; 
margin-top: 6px;
margin-bottom: 16px; 
resize: vertical ;

}
form{ background-color: #ECC4E0;}
label{background-color: #ECC4E0;}
.bkao{background-color: #ECC4E0;}


input[type=submit] {
background-color: #ffffff;
color: rgb(0, 0, 0);
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}


input[type=submit]:hover {
background-color: #56B487;
}


.container {
border-radius: 5px;
background-color: #ECC4E0;
padding: 20px;
}
.pic{ display: flex;
    width: 100%;
    max-height: 200px;
margin-bottom: 30px;
margin-top: 30px;}
       .pic1{
        padding: 20px;
        padding-right: 50px;
    width: 200px;
    height: 50px;
       }
.footer{display: flex;
    justify-content: center;
    gap: 50px;
padding: 40px;
}

}
